<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="jumbotron">
    <div class="row vertical-align">
      <div class="col-md-2 text-right">
        <img class="logo" align="middle" src="../../../assets/logo.jpg" alt="LOGO" />
      </div>
      <div class="col-md-10">
        <h3><b>Majelis Pendidikan Dasar dan Menengah</b></h3>
        <h4>Pimpinan Cabang Muhammadiyah Matraman</h4>
        <h6>Jl. KH. Ahmad Dahlan No.20 Telp.: 8581265 Matraman Jakarta Timur</h6>
        <h4><b>SISTEM ADMINISTRASI PEMBAYARAN PENDIDIKAN</b></h4>
      </div>
    </div>
  </div>
</div>